body {
  font-family: monospace;
  background-color: #3b3b3b;
}
a {
  color: inherit;
}
li {
  padding: 0.7rem;
}
.content {
  margin: 5rem 10%;
  color: #fff;
}
/* Typing effect */
.content h1 {
  display: block;
  width: 19ch;
  animation: typing 3s steps(19), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
