---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogPost from "../../layout/BlogPost.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const { Content, headings } = await Astro.props.render();
---

<BlogPost {...Astro.props.data}>
  {
    headings.length > 0 && (
      <ol>
        {headings.map((heading) => (
          <li>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ol>
    )
  }
  <Content />
</BlogPost>
