<div
  class="w-72 h-20 relative flex gap-3 flex-wrap md:justify-end text-sm text-white">
  <div
    class="bg-cyan-700 py-1 px-2 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img src="/icons/react.svg" alt="nextjs logo" width="18px" height="18px" />
    React
  </div>
  <div
    class="bg-black py-1 px-2 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img src="/icons/nextjs.svg" alt="nextjs logo" width="18px" height="18px" />
    NextJS
  </div>
  <div
    class="bg-[#2f74c0] px-2 py-1 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img
      src="/icons/typescript.svg"
      alt="typescript logo"
      width="18px"
      height="18px"
    />
    TypeScript
  </div>
  <div
    class="bg-[#323330] py-1 px-2 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img
      src="/icons/javascript.svg"
      alt="javascript logo"
      width="18px"
      height="18px"
    />
    JavaScript
  </div>
  <div
    class="bg-[#38B2AC] py-1 px-2 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img
      src="/icons/tailwind.svg"
      alt="tailwindcss logo"
      width="18px"
      height="18px"
    />
    TailwindCSS
  </div>
  <div
    class="bg-[#ff3e00] py-1 px-2 w-fit rounded-md flex gap-2 items-center shadow-md">
    <img src="/icons/svelte.svg" alt="svelte logo" width="18px" height="18px" />
    Svelte
  </div>
</div>
