---
import Highlighted from '../../components/ui/Highlighted.astro'
import Timeline from './Timeline.svelte'
---

<section class="mb-16 sm:mb-28">
  <h2
    class="mb-2 text-2xl font-bold sm:mb-4 sm:text-3xl font-display text-pf-light">
    Knowledge building
  </h2>
  <p class="mb-5 max-w-prose sm:text-lg">
    With a <Highlighted text="can-do" /> attitude and a drive for always improve,
    I've learned the most through practical experience. Nonetheless, I
    believe my formal education has given me a solid foundation to build upon.
  </p>
  <Timeline client:visible />
</section>
