---
import Link from '../../components/ui/Link.astro'
import DownloadIcon from '../../components/icons/DownloadIcon.astro'
import SolarSystem from './SolarSystem.astro'
---

<section
  class="flex justify-between mb-10 md:mb-28 flex-row flex-wrap gap-10 max-w-screen-lg mx-auto">
  <div>
    <div
      class="text-3xl xs:text-4xl lg:text-5xl font-bold mb-5 font-display text-pf-light">
      <h1>Hi, I'm Mario,</h1>
      <h1 class="text-pf-accent">
        Web Developer
        <span class="text-2xl lg:text-4xl inline-block pl-2" id="hand">👋</span>
      </h1>
    </div>
    <p class="xs:text-lg sm:text-xl">Frontend Developer & Tech Enthusiast.</p>
    <div class="mt-5 w-fit">
      <Link
        href="/CV_Mario_Pérez_Hurtado.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2">
        <DownloadIcon />
        Download CV
      </Link>
    </div>
  </div>
  <SolarSystem />

  <style>
    #hand {
      animation: waving-hand 2.5s infinite;
      transform-origin: 70% 70%;
    }

    @keyframes waving-hand {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(14deg);
      }
      /* Wave */
      20% {
        transform: rotate(-8deg);
      }
      30% {
        transform: rotate(14deg);
      }
      40% {
        transform: rotate(-4deg);
      }
      50% {
        transform: rotate(10deg);
      }
      /* Pause */
      60% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  </style>
</section>
