---
import Link from "../../components/ui/Link.astro";

const projects = [
  {
    title: "Arbicuir, S.L.",
    description: "Website for a leather engraving and finishing company.",
    url: "https://arbicuir.com",
  },
  {
    title: "DevForum",
    description: "Web forum focused on programming topics.",
    url: "https://devforum.dev",
  },
  {
    title: "Barbería HB",
    description: "Website for a local barbershop in Crevillente.",
    url: "https://barberiahb.com",
  },
  {
    title: "BOBLE",
    description: "Online web chat.",
    url: "https://chat.marioph.com",
  },
  {
    title: "Code Editor",
    description: "Local-first web code editor.",
    url: "https://code.marioph.com",
  },
  {
    title: "Crappy 98",
    description: "A nostalgic trip back in time.",
    url: "https://retro.marioph.com",
  },
];
---

<section class="mb-16 sm:mb-28">
  <h2
    class="mb-4 text-2xl font-bold font-display text-pf-light"
  >
    I like building things
  </h2>
  <p>The best way to learn is by doing. 👨‍💻</p>
  <ul
    class="grid gap-4 mt-6 mb-5 max-w-screen-md sm:gap-10 sm:mt-10 sm:mb-8 md:grid-cols-3 xs:grid-cols-2"
  >
    {
      projects.map(({ title, description, url }) => (
        <li>
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-semibold underline transition sm:text-xl text-pf-light underline-offset-4 decoration-2 decoration-pf-dark-3 hover:decoration-pf-light-2"
          >
            {title}
          </a>
          <p class="mt-2">{description}</p>
        </li>
      ))
    }
  </ul>
  <Link
    href="https://github.com/marioperezhurtado"
    target="_blank"
    rel="noopener noreferrer"
    arrow
  >
    More projects
  </Link>
</section>
