---
import Testimonials from './Testimonials.svelte'
---

<section class="mb-16 sm:mb-28">
  <h2
    class="text-2xl sm:text-3xl mb-2 sm:mb-4 font-bold font-display text-pf-light">
    Kind Words
  </h2>
  <p class="max-w-prose mb-5 sm:text-lg">
    Here's what some people have to say about me. 🫶
  </p>
  <Testimonials client:visible />
</section>
