---
import Planet from "../../components/Planet.astro";

const planets = [
  {
    name: "Hourglass Twins",
    image: "/planets/hourglass-twins.webp",
    orbitSpeed: 10,
    rotationSpeed: 4,
    size: 12,
    orbitSize: 60,
  },
  {
    name: "Timber Hearth",
    image: "/planets/timber-hearth.webp",
    orbitSpeed: 20,
    rotationSpeed: 3,
    size: 12,
    orbitSize: 90,
  },
  {
    name: "Brittle Hollow",
    image: "/planets/brittle-hollow.webp",
    orbitSpeed: 30,
    rotationSpeed: 8,
    size: 15,
    orbitSize: 120,
  },
  {
    name: "Giant's Deep",
    image: "/planets/giants-deep.webp",
    orbitSpeed: 60,
    rotationSpeed: 12,
    size: 20,
    orbitSize: 160,
  },
  {
    name: "Dark Bramble",
    image: "/planets/dark-bramble.webp",
    orbitSpeed: 40,
    rotationSpeed: 18,
    size: 17,
    orbitSize: 200,
  },
];
---

<div class="relative flex justify-center items-center w-[200px] h-[200px]">
  {planets.map((planet) => <Planet {...planet} />)}
  <div
    id="sun"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-8 h-8 rounded-full"
  >
    <img src="/planets/sun.webp" alt="sun" class="w-full h-full" />
  </div>
</div>

<style>
  #sun {
    box-shadow: 0px 0px 52px 2px rgba(255, 170, 0, 1);
  }
</style>
