---
import Planet from "./Planet.astro";
const planets = [
  {
    color: "#D74D1F",
    speed: 20,
    size: 8,
    orbitSize: 60,
  },
  {
    color: "#07A1B6",
    speed: 30,
    size: 12,
    orbitSize: 90,
  },
  {
    color: "#665269",
    speed: 40,
    size: 16,
    orbitSize: 120,
  },
  {
    color: "#047168",
    speed: 60,
    size: 20,
    orbitSize: 160,
  },
  {
    color: "#697788",
    speed: 70,
    size: 16,
    orbitSize: 200,
  },
];
---

<div class="relative flex justify-center items-center w-[200px] h-[200px]">
  {
    planets.map((planet) => (
      <Planet
        color={planet.color}
        speed={planet.speed}
        size={planet.size}
        orbitSize={planet.orbitSize}
      />
    ))
  }
  <div
    id="sun"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-8 h-8 bg-orange-300 rounded-full"
  >
  </div>
</div>

<style>
  #sun {
    box-shadow: 0px 0px 52px 2px rgba(255, 170, 0, 1);

    animation: blink 5s infinite;
  }

  @keyframes blink {
    0% {
      box-shadow: 0px 0px 52px 3px rgba(255, 170, 0, 1);
    }
    50% {
      box-shadow: 0px 0px 52px 3px rgba(255, 170, 0, 0.8);
    }
    100% {
      box-shadow: 0px 0px 52px 3px rgba(255, 170, 0, 1);
    }
  }
</style>
