---
import Highlighted from "../../components/ui/Highlighted.astro";

const toolItems = [
  {
    title: "I like building beautiful interfaces.",
    tools: ["CSS", "SCSS", "TailwindCSS"],
  },
  {
    title: "I like building seamless interactivity and great user experiences.",
    tools: ["React", "Next.js", "Svelte"],
  },
  {
    title: "I deeply care about producing reliable and maintainable code.",
    tools: ["TypeScript", "Testing", "Git"],
  },
  {
    title:
      "I've also enjoyed doing things beyond the client in order to build stuff.",
    tools: ["SQL", "Prisma", "tRPC", "Rust"],
  },
];
---

<section class="mb-16 sm:mb-28">
  <h2
    class="text-2xl sm:text-3xl font-bold mb-2 sm:mb-4 font-display text-pf-light"
  >
    Tools of the trade
  </h2>
  <div class="text-pf-light-2 sm:text-lg">
    <p class="mb-5">
      Your tools are a reflection of your commitment to your craft. 🛠️
    </p>
    <p class="max-w-prose mb-5">
      Here are some of the technologies I use to build websites and web apps.
      However, I approach my learning with an <Highlighted text="open mind" /> and
      am always looking to learn new things and keep improving my skills.
    </p>
    <blockquote
      class="text-base border-l-4 bg-pf-dark-2 rounded-sm p-2 pr-3 border-pf-dark-3 w-fit italic"
    >
      "Strong opinions, loosely held."
    </blockquote>
  </div>
  <ul
    class="mt-10 flex gap-6 items-center overflow-x-auto sm:grid sm:grid-cols-2 pb-6 sm:gap-4 sm:max-w-xl md:grid-cols-3 md:max-w-4xl"
  >
    {
      toolItems.map(({ title, tools }) => (
        <li
          class="bg-pf-dark-2 h-40 sm:h-full aspect-video p-4 flex flex-col
      justify-between rounded-md shadow-md sm:aspect-auto gap-4"
        >
          <h3 class="font-semibold text-pf-light">{title}</h3>
          <p>
            {tools.map((t, i) => (i === tools.length - 1 ? `${t}.` : `${t}, `))}
          </p>
        </li>
      ))
    }
  </ul>
</section>
