---
import Highlighted from '../../components/ui/Highlighted.astro'
import Tools from '../../components/Tools.svelte'
---

<section class="mb-16 sm:mb-28">
  <h2
    class="text-2xl sm:text-3xl font-bold mb-2 sm:mb-4 font-display text-pf-light">
    Tools of the trade
  </h2>
  <div class="text-pf-light-2 sm:text-lg">
    <p class="mb-5">
      Your tools are a reflection of your commitment to your craft. 🛠️
    </p>
    <p class="max-w-prose mb-5">
      Here are some of the technologies I use to build websites and web apps.
      However, I approach my learning with an <Highlighted text="open mind" /> and
      am always looking to learn new things and keep improving my skills.
    </p>
    <blockquote
      class="text-base border-l-4 bg-pf-dark-2 rounded-sm p-2 pr-3 border-pf-dark-3 w-fit italic">
      "Strong opinions, loosely held"
    </blockquote>
  </div>
  <Tools client:visible />
</section>
