---
import Highlighted from '../../components/ui/Highlighted.astro'
import TimelineItem from '../../components/TimelineItem.astro'
---

<section class="mb-16 sm:mb-28">
  <h2
    class="text-2xl sm:text-3xl mb-2 sm:mb-4 font-bold font-display text-pf-light">
    Knowledge building
  </h2>
  <p class="max-w-prose mb-5 sm:text-lg">
    With a <Highlighted text="can-do" /> attitude and a drive for always improve,
    I've learned the most through practical experience. However, I consider that
    my formal education has given me a solid foundation to build upon.
  </p>

  <div class="mt-10 flex h-fit relative overflow-y-hidden pl-1">
    <span class="min-w-[2px] bg-pf-dark-3"></span>
    <span id="timeline" class="min-w-[2px] absolute left-1"></span>
    <ol class="relative bg-pf-dark max-w-prose flex flex-col gap-10">
      <TimelineItem
        date={new Date('2020-09-01')}
        title="Technician in Microcomputer Systems and Networks"
        description="Learned about computer hardware, software, networks and operating systems. Developed problem-solving and soft skills."
      />
      <TimelineItem
        date={new Date('2022-09-01')}
        title="Higher Technician in Web Application Development"
        description="Learned web develpment, databases, deployments and project management. Built multiple personal projects in a variety of technologies, learning in a hands-on way."
      />
      <TimelineItem
        date={new Date('2023-01-01')}
        title="Freelance Web Developer"
        description="Developed web and mobile applications for local businesses. Increased online visibility, improved user experience and helped to automate processes, saving time and costs."
      />
    </ol>
  </div>
</section>

<style>
  #timeline {
    background: linear-gradient(to bottom, transparent 80%, #16ca73);
    top: 0;
    height: 100%;
    animation: slideDown 5s linear forwards;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
</style>
