---
import RootLayout from "../layout/RootLayout.astro";
import Heading from "./_components/Heading.astro";
import Projects from "./_components/Projects.astro";
import Blog from "./_components/Blog.astro";
import Tech from "./_components/Tech.astro";
import Experience from "./_components/Experience.astro";
import References from "./_components/References.astro";
---

<RootLayout>
  <main class="mx-auto w-full mt-10 md:mt-20 max-w-screen-md">
    <Heading />
    <Projects />
    <Blog />
    <Tech />
    <Experience />
    <References />
  </main>
</RootLayout>
