---
import Header from '../layout/Header.astro'
import Projects from '../layout/Projects.astro'
import About from '../layout/About.astro'
import Heading from '../layout/Heading.astro'
import Tools from '../layout/Tools.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Mario Pérez Hurtado | Portfolio</title>
    <meta
      name="description"
      content="Hi, I'm Mario Pérez Hurtado, Web Developer. I like building things."
    />
  </head>
  <body class="bg-pf-dark text-pf-light font-sans">
    <Header />
    <main class="max-w-screen-xl mx-auto w-full px-10 mt-24">
      <Heading />
      <Projects />
      <About />
      <Tools />
    </main>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

  /* Webkit-based browsers */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #393b4e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }

  /* Firefox */
  ::-moz-scrollbar {
    width: 12px;
  }

  ::-moz-scrollbar-track {
    background-color: #393b4e;
  }

  ::-moz-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }

  /* Edge */
  ::-ms-scrollbar {
    width: 12px;
  }

  ::-ms-scrollbar-track {
    background-color: #393b4e;
  }

  ::-ms-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }
</style>
