---
import Header from '../layout/Header.astro'
import Projects from '../layout/Projects.astro'
import About from '../layout/About.astro'
import Heading from '../layout/Heading.astro'
import Tools from '../layout/Tools.astro'
import Education from '../layout/Education.astro'
import Contact from '../layout/Contact.astro'
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Mario Pérez Hurtado | Portfolio</title>
    <meta
      name="description"
      content="Hi, I'm Mario Pérez Hurtado, Web Developer. I like building things."
    />
  </head>
  <body class="bg-pf-dark text-pf-light font-sans overflow-x-hidden">
    <Header />
    <main class="max-w-screen-xl mx-auto w-full px-10 mt-24">
      <Heading />
      <svg viewBox="0 0 1440 320" class="absolute top-[500px] left-0 w-screen">
        <path
          id="path"
          fill="transparent"
          fill-opacity="1"
          d="M0,96L120,96C240,96,480,96,720,128C960,160,1200,224,1320,256L1440,288"
          stroke="#393B4E"
          stroke-width="2"
          stroke-dasharray="10 5"
          stroke-dashoffset="0"></path>
      </svg>
      <Projects />
      <About />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="absolute top-[3250px] left-0 w-screen">
        <path
          fill="transparent"
          fill-opacity="1"
          stroke="#393B4E"
          stroke-width="2"
          stroke-dasharray="10 5"
          stroke-dashoffset="0"
          d="M0,160 C80,130 160,117 240,105 C320,93 400,83 560,97 C720,111 880,149 1040,160 C1200,171 1280,149 1360,122.7 C1400,109.3 1440,96 1440,96"
        ></path>
      </svg>

      <Tools />
      <Education />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="absolute top-[5070px] left-0 w-screen">
        <path
          d="M0,160 C480,400 960,-100 1440,160"
          fill="transparent"
          stroke="#393B4E"
          stroke-width="2"
          stroke-dasharray="10 5"
          stroke-dashoffset="0"></path>
      </svg>
      <Contact />
    </main>
    <footer class="bg-pf-dark-2 w-full p-8 text-center">
      <p>Made with 💚 by Mario Pérez Hurtado</p>
    </footer>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Syne:wght@600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

  /* Webkit-based browsers */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: #393b4e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }

  /* Firefox */
  ::-moz-scrollbar {
    width: 12px;
  }

  ::-moz-scrollbar-track {
    background-color: #393b4e;
  }

  ::-moz-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }

  /* Edge */
  ::-ms-scrollbar {
    width: 12px;
  }

  ::-ms-scrollbar-track {
    background-color: #393b4e;
  }

  ::-ms-scrollbar-thumb {
    background-color: #4b4e69;
    border-radius: 6px;
  }
</style>
