---
type Props = {
  title: string
  description: string
  url: string
}

const { title, description, url } = Astro.props
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="text-lg sm:text-xl text-pf-light font-semibold underline underline-offset-4 decoration-2 decoration-pf-dark-3 hover:decoration-pf-light-2 transition"
  >{title}</a
>
<p>{description}</p>
