---
export interface Props {
  date: Date
  title: string
  description: string
}
const { date, title, description } = Astro.props
---

<li class="mb-10 ml-4">
  <div
    class="absolute w-3.5 h-3.5 bg-pf-dark-3 rounded-full mt-1.5 -left-2 border-2 border-pf-dark">
  </div>

  <time
    class="mb-1 text-sm font-normal leading-none text-pf-light-2"
    datetime={date.toISOString()}>
    {
      date.toLocaleDateString('en-US', {
        year: 'numeric'
      })
    }
  </time>
  <h3 class="text-lg font-semibold text-pf-light">
    {title}
  </h3>
  <p>
    {description}
  </p>
</li>
