---
type Props = {
  title: string
  tools: string[]
}
const { title, tools } = Astro.props
---

<div
  class="bg-pf-dark-2 w-96 aspect-video p-6 flex flex-col justify-between rounded-md">
  <p class="text-xl font-bold">{title}</p>
  <p class="text-pf-light-2 text-xl">
    {tools.map((t, i) => (i === tools.length - 1 ? `${t}.` : `${t}, `))}
  </p>
</div>
