<header class="flex justify-between p-10 max-w-screen-2xl mx-auto items-center">
  <a
    href="https://github.com/marioperezhurtado"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 bg-pf-light rounded-full flex items-center justify-center">
    <img src="/icons/github.svg" alt="github icon" class="w-8 h-8" />
  </a>
  <ul class="flex gap-10 text-lg text-pf-light-2">
    <li>
      <a
        href="mailto:marioph10@gmail.com"
        target="_blank"
        rel="noopener noreferrer">marioph10@gmail.com</a
      >
    </li>
    <li>
      <a href="">+34 640 663 596</a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/marioperezhurtado/"
        target="_blank"
        rel="noopener noreferrer">in/marioperezhurtado</a
      >
    </li>
  </ul>
</header>
