---
import TopRightIcon from '../icons/TopRightIcon.astro'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'> & {
  arrow?: boolean
}

const { arrow = false, ...props } = Astro.props
---

<a
  class={`pt-2 group pb-1.5 flex items-center gap-2 px-3 text-sm bg-pf-dark-2
  rounded-md text-pf-light-2 w-fit transition shadow-md
  font-semibold border-t border-pf-dark-3 hover:brightness-110
  ${arrow ? 'pr-2' : ''} ${props.class}`}
  {...props}>
  <slot />
  {
    arrow && (
      <span class="transition group-hover:translate-x-0.5 group-hover:-translate-y-0.5">
        <TopRightIcon />
      </span>
    )
  }
</a>
