<div
  class="w-full max-w-sm h-20 relative flex gap-4 flex-wrap justify-end text-whit">
  <div class="bg-cyan-700 py-1 px-3 w-fit rounded-md flex gap-2 items-center">
    <img src="/icons/react.svg" alt="nextjs logo" width="18px" height="18px" />
    React
  </div>
  <div class="bg-black py-1 px-3 w-fit rounded-md flex gap-2 items-center">
    <img src="/icons/nextjs.svg" alt="nextjs logo" width="18px" height="18px" />
    NextJS
  </div>
  <div class="bg-[#2f74c0] px-3 py-1 w-fit rounded-md flex gap-2 items-center">
    <img
      src="/icons/typescript.svg"
      alt="typescript logo"
      width="18px"
      height="18px"
    />
    TypeScript
  </div>
  <div class="bg-[#323330] py-1 px-3 w-fit rounded-md flex gap-2 items-center">
    <img
      src="/icons/javascript.svg"
      alt="javascript logo"
      width="18px"
      height="18px"
    />
    JavaScript
  </div>
  <div class="bg-[#38B2AC] py-1 px-3 w-fit rounded-md flex gap-2 items-center">
    <img
      src="/icons/tailwind.svg"
      alt="tailwindcss logo"
      width="18px"
      height="18px"
    />
    TailwindCSS
  </div>
  <div class="bg-[#ff3e00] py-1 px-3 w-fit rounded-md flex gap-2 items-center">
    <img src="/icons/svelte.svg" alt="svelte logo" width="18px" height="18px" />
    Svelte
  </div>
</div>
