---
import Highlighted from '../components/Highlighted.astro'
---

<div class="relative">
  <svg
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
    class="absolute -top-20 sm:-top-40 lg:-top-60 left-0 w-screen h-42 md:h-60 lg:h-80">
    <path
      d="M0,160 C480,400 960,-100 1440,160"
      fill="transparent"
      stroke="#393B4E"
      stroke-width="2"
      stroke-dasharray="10 5"
      stroke-dashoffset="0"></path>
  </svg>
  <section
    class="mb-28 sm:mb-52 lg:mb-72 pt-10 px-5 sm:px-10 max-w-screen-xl mx-auto"
    id="contact">
    <h2 class="text-2xl sm:text-5xl lg:text-6xl font-bold mb-8 sm:mb-16">
      Get in touch
    </h2>
    <div
      class="text-pf-light-2 max-w-4xl text-lg sm:text-xl lg:text-2xl mb-10 sm:mb-20">
      <p class="mb-5 sm:mb-10">
        I'm looking forward to start my professional career as a front-end
        developer, working with great people and building amazing products.
      </p>
      <p>
        If you are interested in my work, or you have any questions, please feel
        free to <Highlighted text="reach out." /> 📩
      </p>
    </div>
    <ul class="font-body flex gap-2 sm:gap-6 flex-wrap text-white">
      <li>
        <a
          href="mailto:marioph10@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="flex gap-2 bg-cyan-600 p-2 rounded-md items-center hover:bg-cyan-500 transition shadow-md">
          <img
            src="/icons/email.svg"
            alt="Phone number +34 640 663 596"
            width="18"
            height="18"
          />
          marioph10@gmail.com
        </a>
      </li>
      <li>
        <a
          href="tel:+34 640 663 596"
          class="flex gap-1 bg-green-600 p-2 rounded-md items-center hover:bg-green-500 transition shadow-md">
          <img
            src="/icons/phone.svg"
            alt="Phone number +34 640 663 596"
            width="16"
            height="16"
          />
          +34 640 663 596
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/marioperezhurtado/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex gap-2 bg-sky-600 p-2 rounded-md items-center hover:bg-sky-500 transition shadow-md">
          <img
            src="/icons/linkedin.svg"
            alt="Linkedin marioperezhurtado"
            width="18"
            height="18"
          />
          marioperezhurtado
        </a>
      </li>
      <li>
        <a
          href="https://github.com/marioperezhurtado"
          target="_blank"
          rel="noopener noreferrer"
          class="flex gap-2 bg-zinc-700 p-2 rounded-md items-center hover:bg-zinc-600 transition shadow-md">
          <img
            src="/icons/github-light.svg"
            alt="Github marioperezhurtado"
            width="18"
            height="18"
          />
          marioperezhurtado
        </a>
      </li>
    </ul>
  </section>
</div>
