<section class="mb-72" id="contact">
  <h2 class="text-6xl font-bold mb-16">Get in touch</h2>
  <div class="text-pf-light-2 max-w-4xl text-2xl mb-20">
    <p class="mb-10">
      I'm looking forward to start my professional career as a front-end
      developer, working with great people and building amazing products. 🔮
    </p>
    <p>
      If you are interested in my work, or you have any questions, please feel
      free to reach out.
    </p>
  </div>
  <ul class="font-body flex gap-6 flex-wrap">
    <li>
      <a
        href="mailto:marioph10@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 bg-cyan-600 p-2 rounded-md items-center hover:bg-cyan-500 transition">
        <img
          src="/icons/email.svg"
          alt="Phone number +34 640 663 596"
          width="18"
          height="18"
        />
        marioph10@gmail.com
      </a>
    </li>
    <li>
      <a
        href="tel:+34 640 663 596"
        class="flex gap-1 bg-green-600 p-2 rounded-md items-center hover:bg-green-500 transition">
        <img
          src="/icons/phone.svg"
          alt="Phone number +34 640 663 596"
          width="16"
          height="16"
        />
        +34 640 663 596
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/marioperezhurtado/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 bg-sky-600 p-2 rounded-md items-center hover:bg-sky-500 transition">
        <img
          src="/icons/linkedin.svg"
          alt="Linkedin marioperezhurtado"
          width="18"
          height="18"
        />
        marioperezhurtado
      </a>
    </li>
    <li>
      <a
        href="https://github.com/marioperezhurtado"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 bg-zinc-700 p-2 rounded-md items-center hover:bg-zinc-600 transition">
        <img
          src="/icons/github-light.svg"
          alt="Github marioperezhurtado"
          width="18"
          height="18"
        />
        marioperezhurtado
      </a>
    </li>
  </ul>
</section>
