<section class="mb-72">
  <h2 class="text-6xl font-bold mb-16">Getting in touch</h2>
  <div class="text-pf-light-2 max-w-4xl text-xl">
    <p class="mb-10">
      I am looking forward to start my professional career as a front-end
      developer, working with great people and building amazing products. 🔮
    </p>
    <p>
      If you are interested in my work, or you have any questions, please feel
      free to contact me.
    </p>
  </div>
</section>
