---
import Highlighted from '../components/Highlighted.astro'
---

<section class="mb-72">
  <h2 class="text-6xl font-bold mb-16">Knowledge building</h2>
  <div class="text-pf-light-2 max-w-4xl text-2xl">
    <p class="mb-10">
      With a <Highlighted text="can-do attitude" /> and a drive to always improve,
      I've enjoyed to learn through practical experience. I've learned the most by
      getting my hands dirty and teaching myself new things.
    </p>
    <p>
      That said, I consider that my formal education has also provided a strong
      and solid foundation. 📚
    </p>
  </div>
  <div class="flex gap-8 mt-20">
    <div
      class="bg-pf-dark-2 w-full max-w-md p-6 pb-4 rounded-md h-44 flex flex-col justify-between">
      <h3 class="text-2xl">Higher Technician in Web Application Development</h3>
      <p class="text-pf-light-2 text-lg text-right font-body font-bold">
        2022 - 2024
      </p>
    </div>
    <div
      class="bg-pf-dark-2 w-full max-w-md p-6 pb-4 rounded-md h-44 flex flex-col justify-between mt-14">
      <h3 class="text-2xl">Technician in Microcomputer Systems and Network</h3>
      <p class="text-pf-light-2 text-lg text-right font-body font-bold">
        2020 - 2022
      </p>
    </div>
  </div>
</section>
