---
import Highlighted from '../components/Highlighted.astro'
---

<section class="mb-32 sm:mb-52 lg:mb-72 px-5 sm:px-10 max-w-screen-xl mx-auto">
  <h2 class="text-2xl sm:text-5xl lg:text-6xl font-bold mb-8 sm:mb-16">
    Knowledge building
  </h2>
  <div class="text-pf-light-2 max-w-4xl text-lg sm:text-xl lg:text-2xl">
    <p class="mb-5 sm:mb-10">
      With a <Highlighted text="can-do attitude" /> and a drive to always improve,
      I've enjoyed to learn through practical experience. I've learned the most by
      getting my hands dirty and teaching myself new things.
    </p>
    <p>
      That said, I consider that my formal education has also provided a strong
      and solid foundation. 📚
    </p>
  </div>
  <div class="flex flex-wrap gap-x-8 gap-y-4 mt-10 sm:mt-20">
    <div
      class="bg-pf-dark-2 w-full max-w-md p-4 sm:p-6 pb-4 rounded-md h-44 flex flex-col justify-between shadow-md">
      <h3 class="text-xl sm:text-2xl">
        Higher Technician in Web Application Development
      </h3>
      <p
        class="text-pf-light-2 text-sm sm:text-lg text-right font-body font-bold">
        2022 - 2024
      </p>
    </div>
    <div
      class="bg-pf-dark-2 w-full max-w-md p-4 sm:p-6 pb-4 rounded-md h-44 flex flex-col justify-between shadow-md">
      <h3 class="text-xl sm:text-2xl">
        Technician in Microcomputer Systems and Network
      </h3>
      <p
        class="text-pf-light-2 text-sm sm:text-lg text-right font-body font-bold">
        2020 - 2022
      </p>
    </div>
  </div>
</section>
