---
import GithubIcon from '../components/icons/GithubIcon.astro'
import LinkedinIcon from '../components/icons/LinkedinIcon.astro'
import EmailIcon from '../components/icons/EmailIcon.astro'
---

<footer
  class="flex justify-between items-center py-4 mx-auto mt-10 max-w-screen-md border-t-2 sm:py-8 border-pf-dark-3">
  <p class="text-sm font-semibold">Mario Pérez Hurtado</p>
  <ul class="flex gap-1 items-center">
    <li>
      <a
        href="mailto:marioph10@gmail.com"
        aria-label="Email"
        class="block p-1 transition hover:text-pf-accent">
        <EmailIcon />
      </a>
    </li>
    <li>
      <a
        href="https://github.com/marioperezhurtado"
        target="_blank"
        aria-label="Github profile"
        class="block p-1 transition hover:text-pf-accent">
        <GithubIcon />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/marioperezhurtado"
        target="_blank"
        aria-label="Linkedin profile"
        class="block p-1 transition hover:text-pf-accent">
        <LinkedinIcon />
      </a>
    </li>
  </ul>
</footer>
