---
import Badges from '../layout/Badges.astro'
---

<section class="flex gap-4 justify-between mb-72">
  <div>
    <div class="text-7xl font-bold">
      <h1 class="">Hi, I'm Mario,</h1>
      <h2 class="text-pf-accent">
        Web Developer <span class="text-5xl">👋</span>
      </h2>
    </div>
    <div class="mt-10 text-lg flex gap-4 items-center">
      <a
        href="#about"
        class="py-1.5 bg-pf-dark-2 hover:bg-pf-dark-3 text-pf-light-2 px-4 rounded-md transition">
        About me
      </a>
      <a
        href="#"
        class="py-1.5 px-4 bg-pf-dark-2 hover:bg-pf-dark-3 text-pf-light-2 rounded-md transition">
        Contact
      </a>
    </div>
  </div>
  <Badges />
</section>
