---
import Badges from '../layout/Badges.astro'
---

<section
  class="flex gap-4 justify-between mb-28 sm:mb-52 lg:mb-72 flex-col md:flex-row gap-y-10 px-5 sm:px-10 max-w-screen-xl mx-auto">
  <div>
    <div
      class="text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold mb-5 lg:mb-10 font-sans">
      <h1>Hi, I'm Mario,</h1>
      <h1 class="text-pf-accent">
        Web Developer
        <span class="text-4xl xl:text-5xl hidden lg:inline-block" id="hand"
          >👋</span
        >
      </h1>
    </div>
    <p class="text-lg sm:text-xl lg:text-2xl text-pf-light-2">
      Passionate front-end developer based in Spain.
    </p>
    <div
      class="mt-5 lg:mt-10 text-sm sm:text-lg flex gap-2 sm:gap-4 items-center">
      <a
        href="/CV_Mario_Pérez_Hurtado.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="py-1.5 bg-pf-dark-2 hover:bg-pf-dark-3 text-pf-light-2 px-4 rounded-md transition shadow-md flex gap-2 items-center pl-3">
        <img src="/icons/download.svg" class="w-4 h-4 sm:w-5 sm:h-5" />
        Download CV
      </a>
      <a
        href="#contact"
        class="py-1.5 px-4 bg-pf-dark-2 hover:bg-pf-dark-3 text-pf-light-2 rounded-md transition shadow-md">
        Contact
      </a>
    </div>
  </div>
  <Badges />
</section>

<style>
  #hand {
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
  }

  @keyframes waving-hand {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    /*Reset for the last half to pause 100%*/
    100% {
      transform: rotate(0deg);
    }
  }
</style>
