<header
  class="md:flex justify-between p-10 max-w-screen-2xl mx-auto items-center font-body hidden">
  <a
    href="https://github.com/marioperezhurtado"
    target="_blank"
    rel="noopener noreferrer"
    class="w-12 h-12 bg-pf-light rounded-full flex items-center justify-center">
    <img src="/icons/github.svg" alt="github icon" class="w-8 h-8" />
  </a>
  <ul class="flex gap-8 text-pf-light-2">
    <li>
      <a
        href="mailto:marioph10@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:bg-pf-dark-2 p-2 rounded-md transition hover:shadow-md"
        >marioph10@gmail.com
      </a>
    </li>
    <li>
      <a
        href="tel:+34 640 663 596"
        class="hover:bg-pf-dark-2 p-2 rounded-md transition hover:shadow-md"
        >(34) 640 663 596</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/marioperezhurtado/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:bg-pf-dark-2 p-2 rounded-md transition hover:shadow-md"
        >in/marioperezhurtado
      </a>
    </li>
  </ul>
</header>
