---
import Highlighted from '../components/Highlighted.astro'
import Tools from '../components/Tools.svelte'
---

<section class="mb-28 sm:mb-52 lg:mb-72 px-5 sm:px-10 max-w-screen-xl mx-auto">
  <h2 class="text-2xl sm:text-5xl lg:text-6xl font-bold mb-8 sm:mb-16">
    Tools of the trade
  </h2>
  <div class="text-pf-light-2 max-w-4xl text-lg sm:text-xl lg:text-2xl">
    <p class="mb-5 sm:mb-10">
      Your tools are a reflection of your commitment to your craft. 🛠️
    </p>
    <p>
      These are some of the technologies I use to build websites and web apps.
      However, I approach my learning with an <Highlighted text="open mind" /> and
      am always looking to learn new things, and keep improving my skills.
    </p>
  </div>
  <Tools client:visible />
</section>
